include README.md
include LICENSE
include requirements.txt
include pybiodynamics/py.typed
recursive-include examples *.py
recursive-include tests *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
